<div>
    {% if 'error' in message %}
        <div class="alert alert-danger" role="alert">
            {{ message['error'] }}
        </div>
    {% endif %}

    <p><h1>Merge Cluster <mark>{{ data['cluster_id'] }}</mark></h1></p>
    <p><em>{{ data['cluster_name'] }}</em></p>
    <form action="{{ BASE_URL }}/merge/{{ data['cluster_id'] }}" method="post">
        <p class="pt-1">
        <div class="row g-5">
            <div class="col-6">
                <h4 class="d-inline">Selected candidates</h4> <span id="selected_count">({{ data['total_count'] }})</span>
                <table class="table table-borderless" id="current-table">
                    <tbody>
                    <tr data-cid="{{ data['cluster_id'] }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="tooltip-repr" data-bs-title="{{ data['repr_record'] }}">
                        <td >{{ data['cluster_id'] }}</td><td>{{ data['cluster_name'] }}</td><td><span class="badge rounded-pill bg-success">Current</span></td>
                    </tr>
                    </tbody>
                </table>
                <table id="selected-table" class="table table-hover" data-toggle="table" data-search="true" data-sortable="true" data-show-columns="false" data-sort-reset="true">
                    <tbody>
                    {% for c in data['selected_clusters'] %}
                        <tr data-cid="{{ c['id'] }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="tooltip-repr" data-bs-title="{{ c['repr_record'] }}">
                            <td>{{ c['id'] }}</td><td>{{ c['name'] }}</td><td><i role="button" class="bi bi-dash-circle"></i></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <h4 class="d-inline">Finding candidates</h4> <span id="cand_count"></span>
                <div class="row g-3">
                    <div class="input-group mb-3">
                        <input type="search" class="form-control" placeholder="Keywords" id="merge-query" name="merge-query" value="" autofocus aria-label="" aria-describedby="merge-search-btn">
                        <span class="input-group-text" id="merge-search-btn">
                            <button type="button" class="btn btn-sm" id="merge-search" name="merge-search" value="Search">
                                <i class="bi bi-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="text-center d-none" id="merge-search-spinner">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <table id="candidate-table" class="table table-hover" data-toggle="table" data-search="true" data-sortable="true" data-show-columns="false" data-sort-reset="true">
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>

        </p>
    </form>

</div>

<script>

document.getElementById("merge-query").addEventListener("keyup", function(event) {
    if (event.key === "Enter") {
        event.preventDefault();
        document.getElementById("merge-search").click();
    }
});

$(document).ready(function(){

    // store the original clusters for set difference computation
    var original_clusters = $('#selected-table tr').map(function(){
        return $(this).attr('data-cid');
    }).get();
    $('#selected-table').attr('data-original', JSON.stringify(original_clusters));

    // candidate search
    $('#merge-search').on('click', function(){
        $('#merge-search-spinner').removeClass('d-none').show();
        $('#candidate-table').html('');

        // query
        var query_text = $('#merge-query').val();

        // get all selected cluster ids
        var selected_clusters =$('#selected-table tr').map(function(){
            return $(this).attr('data-cid');
        }).get();
        selected_clusters.push('{{ data['cluster_id'] }}');
        var data = {'query': query_text, 'not_in': selected_clusters};

        // search
        $.ajax({
            url: '{{ BASE_URL }}/annotation/merge/search',
            type: 'post',
            data: JSON.stringify(data),
            processData: false,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function(response){
                $('#merge-search-spinner').hide();
                var clusters = response['clusters'];
                var table_html = '';
                for (var cid in clusters) {
                    table_html = table_html + '<tr data-cid="' + cid +
                        '" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="tooltip-repr"' +
                        'data-bs-title="' + clusters[cid]['repr_record'] + '">' +
                        '<td>' + cid + '</td>' +
                        '<td>' + clusters[cid]['name'] + '</td>' +
                        '<td><i role="button" class="bi bi-plus-circle"></i></td>' +
                        '</tr>'
                }
                table_html = '<tbody>' + table_html + '</tbody>'
                $('#candidate-table').html(table_html);
                $('#cand_count').html('(' + response['total_count'] + ')');
            },
            error: function(response) {
                $('#merge-search-spinner').hide();
                $('#popup .modal-body').html(response.responseText);
            }
        });
    });

    // candidate table -> selected table
    $('#candidate-table').on('click', 'i.bi-plus-circle', function(e){
        e.stopPropagation();  // stop propagating the click event to tr level
        var tr_element = $(this).closest('tr');
        tr_element.find('i.bi-plus-circle').removeClass('bi-plus-circle').addClass('bi-dash-circle');
        $('#selected-table tbody').append(tr_element);
    });

    // remove from selected table
    $('#selected-table').on('click', 'i.bi-dash-circle', function(e){
        e.stopPropagation();  // stop propagating the click event to tr level
        var tr_element = $(this).closest('tr');
        tr_element.remove();
    });

    // show details if tr is clicked
    $('#current-table').on('click', 'tr', function () {
        var cid = $(this).attr('data-cid');
        show_cluster_detail(cid);
    });
    $('#selected-table').on('click', 'tr', function () {
        var cid = $(this).attr('data-cid');
        show_cluster_detail(cid);
    });
    $('#candidate-table').on('click', 'tr', function () {
        var cid = $(this).attr('data-cid');
        show_cluster_detail(cid);
    });
});


function save_annotation() {
    var cid = $('input[name=save]').attr('data-cid');

    // get all selected cluster ids
    var selected_clusters =$('#selected-table tr').map(function(){
        return $(this).attr('data-cid');
    }).get();
    // always select current cluster itself
    selected_clusters.push('{{ data['cluster_id'] }}');

    var form_data = new FormData();
    for (let i = 0; i < selected_clusters.length; i++) {
        form_data.append(selected_clusters[i], 'current');
    }
    var original_clusters = JSON.parse($('#selected-table').attr('data-original'));
    for (let i = 0; i < original_clusters.length; i++) {
        form_data.append(original_clusters[i], 'original');
    }

    $.ajax({
        url: '{{ BASE_URL }}/annotation/merge/' + cid,
        type: 'post',
        data: form_data,
        processData: false,
        contentType: false,
        success: function(response){
            $('#popup').modal('hide');
        },
        error: function(response) {
            $('#popup .modal-body').html(response.responseText);
        }
    });
}

function show_cluster_detail(cid){
    $.ajax({
        url: '{{ BASE_URL }}/cluster/' + cid,
        type: 'get',
        data: null,
        success: function(response){
            $('#popup-second .modal-body').html(response);
            $('#popup-second').modal('show');
        }
    });
}
</script>